/* CSS file */
Application {
   backgroundColor: #252525;
   backgroundGradientColors: #252525, #252525;
   backgroundGradientAlphas: 1, 1;
   themeColor: #333333;
   color: #cccccc;
}

Accordion {
   borderStyle: solid;
   borderThickness: 1;
   headerHeight: 20;
   highlightAlphas: 0.34, 0.1;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #000000, #000000, #000000, #333333;
   selectedFillColors: #000000, #666666;
   themeColor: #333333;
   backgroundColor: #333333;
   borderColor: #333333;
   textRollOverColor: #cccccc;
   textSelectedColor: #cccccc;
   dropShadowEnabled: true;
   shadowDirection: right;
   headerStyleName: "myaccordionHeader";
}

.myaccordionHeader {
   letterSpacing: 1;
   color: #cccccc;
   fontFamily: Arial;
}

ApplicationControlBar {
   highlightAlphas: 0.34, 0.1;
   fillAlphas: 1, 1;
   fillColors: #000000, #000000;
   cornerRadius: 3;
}

Button {
   cornerRadius: 3;
   textIndent: 0;
   highlightAlphas: 0.34, 0.1;
   fillAlphas: 0.33, 1, 0.49, 0.65;
   fillColors: #000000, #000000, #000000, #333333;
   color: #cccccc;
   textRollOverColor: #999999;
   textSelectedColor: #999999;
   borderColor: #333333;
   themeColor: #666666;
}

ButtonBar {
   buttonStyleName: "mybuttonBarButtonStyle";
   firstButtonStyleName: "mybuttonBarFirstButtonStyle";
   lastButtonStyleName: "mybuttonBarLastButtonStyle";
}

.mybuttonBarButtonStyle {
   highlightAlphas: 0.34, 0.1;
   fillAlphas: 0.3, 1, 0.49, 0.65;
   fillColors: #000000, #000000, #000000, #333333;
   color: #cccccc;
   textRollOverColor: #cccccc;
   textSelectedColor: #999999;
   borderColor: #333333;
   themeColor: #333333;
}

.mybuttonBarFirstButtonStyle {
   cornerRadius: 3;
}

.mybuttonBarLastButtonStyle {
   cornerRadius: 3;
}

CheckBox {
   highlightAlphas: 0.34, 0.1;
   fillColors: #000000, #000000, #000000, #000000;
   borderColor: #333333;
   color: #cccccc;
   textSelectedColor: #cccccc;
   textRollOverColor: #cccccc;
   themeColor: #333333;
   fontFamily: Arial;
}

ComboBox {
   color: #cccccc;
   borderColor: #333333;
   highlightAlphas: 0.34, 0.1;
   fillColors: #000000, #000000, #000000, #eeeeee;
   selectionColor: #000000;
   textSelectedColor: #cccccc;
   rollOverColor: #666666;
   textRollOverColor: #cccccc;
   themeColor: #333333;
   alternatingItemColors: #333333, #333333;
   fontFamily: Arial;
}

DataGrid {
   backgroundAlpha: 1;
   backgroundColor: #000000;
   alternatingItemColors: #666666, #999999;
   headerColors: #000000, #333333;
   horizontalGridLines: true;
   letterSpacing: 0;
   horizontalGridLineColor: #cccccc;
   verticalGridLineColor: #333333;
   useRollOver: true;
   rollOverColor: #cccccc;
   textRollOverColor: #333333;
   borderThickness: 1;
   borderColor: #333333;
   selectionColor: #000000;
   textSelectedColor: #cccccc;
   textIndent: 0;
   headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
   color: #cccccc;
}

DateChooser {
   cornerRadius: 3;
   headerColors: #000000, #333333;
   highlightAlphas: 0.3, 0.1;
   fillColors: #000000, #000000, #000000, #000000;
   rollOverColor: #666666;
   selectionColor: #000000;
   color: #cccccc;
   borderColor: #000000;
   backgroundColor: #4a4a4a;
   themeColor: #333333;
   dropShadowEnabled: true;
   shadowDistance: 2;
   shadowDirection: right;
   fontFamily: Arial;
   headerStyleName: "mydateChooserHeaderStyle";   weekDayStyleName: "mydateChooserWeekDayStyle";   todayStyleName: "mydateChooserTodayStyle";
}

.mydateChooserHeaderStyle {
   color: #cccccc;
   fontFamily: Arial;

}

.mydateChooserWeekDayStyle {
   color: #cccccc;
   fontFamily: Arial;

}

.mydateChooserTodayStyle {
   fontFamily: Arial;
}

HDividedBox {
   dividerAffordance: 10;
   dividerAlpha: 0.19;
   dividerColor: #333333;
   dividerThickness: 3;
}

HRule {
   strokeColor: #000000;
   shadowColor: #333333;
   strokeWidth: 2;
}

HScrollBar {
   cornerRadius: 3;
   highlightAlphas: 0.17, 0;
   fillAlphas: 1, 0.85, 1, 1;
   fillColors: #000000, #000000, #000000, #333333;
   trackColors: #000000, #333333;
   themeColor: #333333;
   borderColor: #333333;
}

HSlider {
   labelOffset: -11;
   thumbOffset: 0;
   dataTipOffset: 0;
   tickOffset: -2;
   tickLength: 5;
   tickThickness: 1;
   tickColor: #cccccc;
   showTrackHighlight: false;
   invertThumbDirection: false;
   borderColor: #333333;
   trackColors: #cccccc, #cccccc;
   themeColor: #333333;
   fillColors: #000000, #000000, #000000, #eeeeee;
   labelStyleName: "myhSliderLabelStyle";
}

.myhSliderLabelStyle {
   color: #cccccc;
   fontFamily: Arial;
}

LinkBar {
   borderStyle: solid;
   borderColor: #000000;
   horizontalGap: 7;
   separatorWidth: 1;
   letterSpacing: 0;
   cornerRadius: 3;
   backgroundColor: #333333;
   separatorColor: #cccccc;
   rollOverColor: #cccccc;
   selectionColor: #cccccc;
   color: #cccccc;
   disabledColor: #666666;
   fontFamily: Arial;
   dropShadowEnabled: true;
   shadowDirection: right;
}

LinkButton {
   cornerRadius: 3;
   rollOverColor: #333333;
   selectionColor: #cccccc;
   color: #cccccc;
   textRollOverColor: #cccccc;
   textSelectedColor: #666666;
   fontFamily: Arial;
}

List {
   backgroundColor: #333333;
   rollOverColor: #000000;
   textRollOverColor: #cccccc;
   borderColor: #000000;
   selectionColor: #666666;
   color: #cccccc;
   textSelectedColor: #cccccc;
   cornerRadius: 3;
}

MenuBar {
   cornerRadius: 3;
   backgroundAlpha: 1;
   backgroundColor: #000000;
   borderColor: #333333;
   highlightAlphas: 0.35, 0.1;
   fillAlphas: 0.06, 1;
   fillColors: #000000, #000000;
   rollOverColor: #666666;
   selectionColor: #333333;
   color: #333333;
   textRollOverColor: #333333;
   textSelectedColor: #333333;
   disabledColor: #333333;
   themeColor: #333333;
}

NumericStepper {
   borderStyle: inset;
   borderColor: #000000;
   backgroundAlpha: 0;
   cornerRadius: 3;
   textIndent: 0;
   highlightAlphas: 0.34, 0.1;
   fillAlphas: 0.67, 0.45, 0.76, 0.62;
   fillColors: #000000, #000000, #000000, #000000;
   backgroundColor: #333333;
   color: #cccccc;
   themeColor: #333333;
   fontFamily: Arial;
}

Panel {
   borderColor: #252525;
   borderAlpha: 1;
   borderThicknessLeft: 10;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 10;
   roundedBottomCorners: true;
   cornerRadius: 8;
   headerHeight: 24;
   backgroundAlpha: 1;
   highlightAlphas: 0.42, 0.06;
   headerColors: #252525, #252525;
   footerColors: #252525, #252525;
   backgroundColor: #333333;
   dropShadowEnabled: true;
   shadowDistance: 2;
   shadowDirection: right;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   letterSpacing: 3;
   color: #cccccc;
   textAlign: right;
   fontFamily: Arial;
   fontWeight: normal;
   fontStyle: italic;
}

PopUpButton {
   cornerRadius: 3;
   highlightAlphas: 0.34, 0.1;
   fillAlphas: 0.33, 1, 0.49, 0.65;
   fillColors: #000000, #000000, #000000, #333333;
   color: #cccccc;
   textRollOverColor: #cccccc;
   textSelectedColor: #333333;
   borderColor: #333333;
   themeColor: #666666;
}

ProgressBar {
   borderColor: #333333;
   barColor: #72623e;
   trackColors: #000000, #333333;
   color: #cccccc;
   paddingLeft: 0;
   paddingRight: 0;
   letterSpacing: 1;
   trackHeight: 5;
   verticalGap: 0;
}

RadioButton {
   highlightAlphas: 0.3, 0.1;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #000000, #000000, #000000, #eeeeee;
   borderColor: #333333;
   color: #cccccc;
   textSelectedColor: #cccccc;
   textRollOverColor: #cccccc;
   themeColor: #333333;
   fontFamily: Arial;
}

TabNavigator {
   backgroundColor: #333333;
   borderColor: #333333;
   tabStyleName: "myTabs";
   firstTabStyleName: "myTabs";
   lastTabStyleName: "myTabs";
   selectedTabTextStyleName: "mySelectedTabs";
}

.myTabs {
   cornerRadius: 3;
   highlightAlphas: 0.25, 0.1;
   fillAlphas: 0.34, 1;
   fillColors: #000000, #000000;
   backgroundColor: #333333;
   borderColor: #333333;
   color: #cccccc;
   textRollOverColor: #cccccc;
   themeColor: #333333;
   fontFamily: Arial;

}

.mySelectedTabs {
   letterSpacing: 0;
   color: #cccccc;
   textRollOverColor: #cccccc;
   fontFamily: Arial;
   fontWeight: bold;
}

TextArea {
   color: #cccccc;
   backgroundColor: #333333;
   borderStyle: solid;
   borderColor: #000000;
   cornerRadius: 3;
   dropShadowEnabled: true;
   shadowDirection: right;
}

TextInput {
   borderColor: #000000;
   backgroundColor: #333333;
   color: #cccccc;
   fontFamily: Arial;
   dropShadowEnabled: false;
}

ToggleButtonBar {
   buttonHeight: 20;
   buttonWidth: 108;
   horizontalGap: -1;
   textIndent: 0;
   letterSpacing: 0;
   buttonStyleName: "mytoggleButtonBarButtonStyle";
   firstButtonStyleName: "mytoggleButtonBarFirstButtonStyle";
   lastButtonStyleName: "mytoggleButtonBarLastButtonStyle";
   selectedButtonTextStyleName: "mytoggleButtonBarSelectedButtonStyle";
}

.mytoggleButtonBarButtonStyle {
   highlightAlphas: 0.34, 0.1;
   fillAlphas: 0.3, 1, 0.49, 0.65;
   fillColors: #000000, #000000, #000000, #eeeeee;
   color: #cccccc;
   textRollOverColor: #cccccc;
   textSelectedColor: #333333;
   borderColor: #000000;
   themeColor: #333333;
   fontFamily: Arial;
}

.mytoggleButtonBarFirstButtonStyle {
   cornerRadius: 3;
}

.mytoggleButtonBarLastButtonStyle {
   cornerRadius: 3;
}

.mytoggleButtonBarSelectedButtonStyle {
   color: #cccccc;
   fontFamily: Arial;
}

ToolTip {
   backgroundColor: #333333;
   color: #cccccc;
}

VScrollBar {
   borderColor: #006699;
}

