<?xml version="1.0" encoding="utf-8"?>
<LaTranquilaLTPV>

	<webApplication gateway="http://latranquila.randomestudio.com/WebOrb/weborb.php" channelId="my-amf" destination="GenericDestination" >
		<services> 
			<service name='userAuth' source='UserAuth'>
				<method name='login'/>
				<method name='logout'/>
				<method name='silentLogout'/>
			</service>
			<service name='reservations' source='Reservations'>
				<method name='getReservations'/>
			</service>
        </services>
   	</webApplication>    
	
</LaTranquilaLTPV>