<?xml version="1.0" encoding="utf-8"?>
<LaTranquilaLTPV>

	<webApplication gateway="http://latranquila.randomestudio.com/WebOrb/weborb.php" channelId="my-amf" destination="GenericDestination" >
		<services> 
			<service name='userAuth' source='UserAuth'>
				<method name='login'/>
				<method name='appLogout'/>
				<method name='silentLogout'/>
			</service>
			<service name='reservations' source='Reservations'>
				<method name='getReservations'/>
			</service>
			<service name='persons' source='Persons'>
				<method name='getPersons'/>
			</service>
			<service name='units' source='Units'>
				<method name='getUnits'/>
			</service>
        </services>
   	</webApplication>  
   	
   	
   	<navMenu>
   	 	<menuitem label="Administración" roles="Administrator,System" >
	        <menuitem label="Administrar Usuarios" data="0" roles="Administrator,System" method="openPopup"/>
	    </menuitem>
	    
	    <menuitem label="Pantallas" roles="Clerk,Manager,Administrator,System" >
	        <menuitem label="Datos Generales" data="2" roles="Clerk,Manager,Administrator,System" method="openPopup"/>
	        <menuitem label="Validación" data="3" roles="Clerk,Manager,Administrator,System" method="openPopup"/>
	        <menuitem label="Alta Clientes No Propietarios" data="4" roles="Clerk,Manager,Administrator,System" method="openPopup"/>
	        <menuitem label="Menu Principal" data="5" roles="Clerk,Manager,Administrator,System" method="openPopup"/>
	        <menuitem label="Reservaciones General" data="6" roles="Clerk,Manager,Administrator,System" method="openPopup"/>
	        <menuitem label="Modulo Reservaciones General" data="7" roles="Clerk,Manager,Administrator,System" method="openPopup"/>
	    </menuitem>
	   
	   	<menuitem label="Ayuda" roles="Clerk,Manager,Administrator,System">
	    	<menuitem label="Ayuda"  data="0" roles="Clerk,Manager,Administrator,System" method="openPopup"/>
	    	<menuitem label="Datos de Soporte"  data="0" roles="Clerk,Manager,Administrator,System" method="openPopup"/>
	    </menuitem>
	    <menuitem label="Salir" roles="Clerk,Manager,Administrator,System">
	    	<menuitem label="Salir"  data="18" roles="Clerk,Manager,Administrator,System" method="logout"/>
	    </menuitem>  
   	</navMenu>  
	
</LaTranquilaLTPV>