<?xml version="1.0" encoding="utf-8"?>
<LaTranquilaLTPV>

	<webApplication gateway="http://www.osvaldo.info/publicis/WebOrb/weborb.php" >
		<services> 
			<service name='userAuth' source='UserAuth'>
				<method name='login' returnType='struct'/>
				<method name='logout' returnType='string'/>
				<method name='silentLogout' returnType='string'/>
			</service>
        </services>
   	</webApplication>    
	
</LaTranquilaLTPV>