<?xml version="1.0" encoding="utf-8"?>
<LaTranquilaLTPV>

	<webApplication gateway="http://192.168.0.103/WebOrb/weborb.php" channelId="my-amf" destination="GenericDestination" >
		<services> 
			<service name='WebOrbDemoService' source='WebOrbDemoService'>
				<method name='sayPublic'/>
				<method name='sayAuthenticated'/>
				<method name='sayAdministrator'/>
			</service>
			<service name='userAuth' source='UserAuth'>
				<method name='login'/>
				<method name='appLogout'/>
				<method name='silentLogout'/>
			</service>	
				
			<service name='SrlServices' source='SrlServices'>
				<method name='newAdditionalGuests'/>
				<method name='newCardInformation'/>
				<method name='newPersonalInformation'/>
			</service>
			
			<service name='SrlReservations' source='SrlReservations'>
				<method name='newReservation'/>
			</service>
			
			<service name='Availability' source='Availability'>
				<method name='checkAvailability'/>
			</service>
			
			<service name='Users' source='Users'>
				<method name='newUser'/>
			</service>
			
			<service name='ReservationProcess' source='ReservationProcess'>
				<method name='getReservationFolio'/>
				<method name='onLineUnit'/>				
			</service>
			
			
        </services>
   	</webApplication>  
   	
   	
   
	
</LaTranquilaLTPV>